@page "/"
<div class="jumbotron">
    @* Fila 1 de cards *@
    @* Generaremos filas de 3 cards cada una *@
    <div class="card-deck mb-3">
        @* Generamos el primer card *@
        <div class="card">
            <img class="card-img-top" src="/Images/bet.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>Tipo de Pez</em></h5>
                <small class="text-muted">Descripción.</small>
            </div>
            <footer class="blockquote-footer">
                <small>Autor 1</small>
            </footer>
        </div>

        @* Generamos el segundo card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/Beta.webp" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>Tipo de Pez</em></h5>
                <small class="text-muted">Descripción.</small>
            </div>
            <footer class="blockquote-footer">
                <small>Autor 1</small>
            </footer>
        </div>

        @* Generamos el tercer card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/beta2.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>Tipo de Pez</em></h5>
                <small class="text-muted">Descripción.</small>
            </div>
            <footer class="blockquote-footer">
                <small>Autor 1</small>
            </footer>
        </div>
    </div>

    @* Fila 2 de cards *@
    @* Generaremos filas de 3 cards cada una *@
    <div class="card-deck mb-3">
        @* Generamos el primer card *@
        <div class="card">
            <img class="card-img-top" src="/Images/beta3.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>Tipo de Pez</em></h5>
                <small class="text-muted">Descripción.</small>
            </div>
            <footer class="blockquote-footer">
                <small>Autor 1</small>
            </footer>
        </div>

        @* Generamos el segundo card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/beta4.jpeg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>Tipo de Pez</em></h5>
                <small class="text-muted">Descripción.</small>
            </div>
            <footer class="blockquote-footer">
                <small>Autor 1</small>
            </footer>
        </div>

        @* Generamos el tercer card *@
        <div class="card ">
            <img class="card-img-top" src="/Images/beta8.jpg" alt="Card image cap" height="250">
            <div class="card-body">
                <h5 class="card-title"><em>Tipo de Pez</em></h5>
                <small class="text-muted">Descripción.</small>
            </div>
            <footer class="blockquote-footer">
                <small>Autor 1</small>
            </footer>
        </div>
    </div>
</div>
