@page "/"
@* Shift + Alt + A => Hacer comentarios *@
<div>
    <h1>Peliculas</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card mb-3" style="width: 18rem;">
            <img src="/Images/darth.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card mb-3" style="width: 18rem;">
            <img src="/Images/marvel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="width: 18rem;">
            <img src="/Images/marvel.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>



<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Pelicula">
</div>

<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Genero">
</div>

<div class="mb-3">
    <input type="file" name="" id="" class="form-control">
</div>
