<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Proy_SEMIV_G34</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Actividad I
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Actividad II
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Actividad III
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="forfishes">
                <span class="oi oi-plus" aria-hidden="true"></span> Actividad IV
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="asynctask">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Actividad V
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fishescomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Actividad VI
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="specificfishcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Actividad VII
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
